.c-wrap {
  height: 174px;
  width: 585px;
  margin: 0 20px 20px;
  background-color: #eaeaea;
  opacity: 0.8;
  h4 {
    font-size: 24px;
    padding: 22px 19px;
    color: #fff;
  }
  p {
    font-size: 16px;
    padding: 9px 19px;
    line-height: 1.5;
    color: #fff;
  }
}